:root {
    --imperial: #FF3E41;
    --rich-black: #01161E;
    --silver: --#BFC0C0;
    --claret: --#710627;
    --gold: --#FFD400;
    --chinese-rose: --#986374;
    /* https://coolors.co/01161e-ff3e41-bfc0c0-986374-710627-ffd400 */
}

body{
    background-color: var(--rich-black);
}

h1{
    color: var(--silver);
}